= render partial: 'shared/breadcrumbs', locals: {page_name: 'External streams'}
.channel-list
  - display_order.each do |order_key|
    .headline
      %h2= order_key || 'Offline'
    .cube-portfolio.margin-bottom-50
      .content-xs
      .grid-channel-container.cbp-l-grid-fullWidth
        - grouped_channels[order_key].each do |channel|
          = render partial: 'shared/stream_thumbnail', locals: {channel: channel, link: user_external_channel_path(channel.user.username)}
