#vod-stats.col-md-2.col-md-offset-10.margin-top-15.margin-bottom-15
  .row
    .col-sm-12.total-viewers
      .service-block-v3.service-block-u
        %i.fa.fa-eye
        %span.service-heading Total Viewers
        %span.counter= recording.views
