#vod
  .row
    = render 'header'
  .row#channel-interactive
    .col-md-8.col-md-offset-2
      = render partial: 'shared/stream', locals: {file: "rtmp://streamer-01.codewatch.tv/vod/#{recording.name}", type: 'rtmp'}
