= render partial: 'shared/breadcrumbs', locals: {page_name: recording.title}
#vod-item
  .row
    .col-md-8.col-md-offset-2
      = render partial: 'shared/stream', locals: {file: "rtmp://vod.codewatch.tv/watch/#{recording.name}", type: 'rtmp', stretching: 'exactfit'}
    .col-md-2
      = render partial: 'vod/header'
