= render partial: 'shared/breadcrumbs', locals: {page_name: recording.title}
#vod-item
  .row
    .col-md-8.col-md-offset-2
      = render partial: 'shared/stream', locals: {file: "rtmp://streamer-01.codewatch.tv/vod/#{recording.name}", type: 'rtmp'}
    .col-md-2
      = render partial: 'vod/header'
  .container.content
    .row
      .col-md-12

