#conferences.container.content
  .row
    .col-md-8.col-md-offset-2
      .soon
        %span.margin-bottom-50
          We are still working hard on getting
          %br
          everything nice and polished.
          %br
          %br
          If you'd like to stream a conference
          %br
          please contact us.
        = link_to 'E-mail us on hi@codewatch.tv', 'mailto:hi@codewatch.tv', class: 'btn-u btn-bordered'
