.row
  .col-md-4
    .navbar.navbar-default
      .navbar-brand
        .fa.fa-eye
      .navbar-text.text-center= total_viewers
  .col-md-4
    .navbar.navbar-default
      .navbar-brand
        .fa.fa-user
      .navbar-text.text-center= current_viewers
  .col-md-4
    .navbar.navbar-default
      .navbar-brand
        .fa.fa-heart
      .navbar-text.text-center= likes
