.row#channel-stats
  .col-md-3
    .navbar.navbar-default
      .navbar-brand
        .fa.fa-eye
      .navbar-text.text-center= total_viewers
  .col-md-3
    .navbar.navbar-default
      .navbar-brand
        .fa.fa-user
      .navbar-text.text-center= current_viewers
  .col-md-3
    .navbar.navbar-default
      .navbar-brand
        .fa.fa-heart
      .navbar-text.text-center= likes
  .col-md-3
    .navbar.navbar-default
      .navbar-brand
        .fa.fa-youtube-play
      .navbar-text.text-center= link_to(vod_count, list_vod_path(current_user.username))
