.footer-v1
  .footer
    .container
      .row
        / About
        .col-md-3.md-margin-bottom-40
          %a{:href => "index.html"}
            %img#logo-footer.footer-logo{:alt => "", :src => "assets/img/logo2-default.png"}/
          %p About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.
          %p Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.
        / /col-md-3
        / End About
        / Latest
        .col-md-3.md-margin-bottom-40
          .posts
            .headline
              %h2 Latest Posts
            %ul.list-unstyled.latest-list
              %li
                %a{:href => "#"} Incredible content
                %small May 8, 2014
              %li
                %a{:href => "#"} Best shoots
                %small June 23, 2014
              %li
                %a{:href => "#"} New Terms and Conditions
                %small September 15, 2014
        / /col-md-3
        / End Latest
        / Link List
        .col-md-3.md-margin-bottom-40
          .headline
            %h2 Useful Links
          %ul.list-unstyled.link-list
            %li
              %a{:href => "#"} About us
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} Portfolio
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} Latest jobs
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} Community
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} Contact us
              %i.fa.fa-angle-right
        / /col-md-3
        / End Link List
        / Address
        .col-md-3.map-img.md-margin-bottom-40
          .headline
            %h2 Contact Us
          %address.md-margin-bottom-40
            25, Lorem Lis Street, Orange
            %br/
            California, US
            %br/
            Phone: 800 123 3456
            %br/
            Fax: 800 123 3456
            %br/
            Email:
            %a{:href => "mailto:info@anybiz.com"} info@anybiz.com
  / /col-md-3
  / End Address
  / /footer
  .copyright
    .container
      .row
        .col-md-6
          %p
            2015 &copy; All Rights Reserved.
            %a{:href => "#"} Privacy Policy
            |
            %a{:href => "#"} Terms of Service
        / Social Links
        .col-md-6
          %ul.footer-socials.list-inline
            %li
              %a.tooltips{"data-original-title" => "Facebook", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-facebook
            %li
              %a.tooltips{"data-original-title" => "Skype", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-skype
            %li
              %a.tooltips{"data-original-title" => "Google Plus", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-google-plus
            %li
              %a.tooltips{"data-original-title" => "Linkedin", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-linkedin
            %li
              %a.tooltips{"data-original-title" => "Pinterest", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-pinterest
            %li
              %a.tooltips{"data-original-title" => "Twitter", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-twitter
            %li
              %a.tooltips{"data-original-title" => "Dribbble", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-dribbble
                  / End Social Links
                  / /copyright
                  / === End Footer Version 1 ===
                  / /End Wrapepr
