.collapse.navbar-collapse.mega-menu.navbar-responsive-collapse
  .container
    %ul.nav.navbar-nav
      = navbar_item 'Home', root_path
      = navbar_item 'Browse', categories_path
      = navbar_item 'External Streams', external_channels_path
      = navbar_item 'Events', events_path
      %li
        %i.search.fa.fa-search.search-btn
        .search-open
          .input-group.animated.fadeInDown
            %input.search-activator.form-control{type: 'text', placeholder: 'Search'}
