#stream-player
:javascript
  jwplayer("stream-player").setup({
    file: '#{file}',
    type: '#{type}',
    autostart: true,
    width: '100%',
    skin: { name: "codewatch" },
    aspectratio: '16:9',
    stretching: '#{stretching}',
    logo: { hide: true }
  });
