#stream-player
:javascript
  jwplayer("stream-player").setup({
    file: '#{file}',
    type: '#{type}',
    autostart: true,
    width: '100%',
    aspectratio: "16:10",
    stretching: "exactfit",
  });
