.topbar
  %ul.loginbar.pull-right
    %li.hoverSelector
      %i.fa.fa-globe
      %a Languages
      %ul.languages.hoverSelectorBlock
        %li.active
          %a{:href => "#"}
            English
            %i.fa.fa-check
        %li
          %a{:href => "#"} Spanish
        %li
          %a{:href => "#"} Russian
        %li
          %a{:href => "#"} German
    %li.topbar-devider
    %li
      %a{:href => "page_faq.html"} Help
    %li.topbar-devider
    %li
      %a{:href => "page_login.html"} Login
