.search-block
  .container
    .col-md-6.col-md-offset-3
      %h1
        Explore
        %span.color-green CodeWatch
      .input-group
        %input.search-activator.form-control{:placeholder => "Search ...", :type => "text"}
          %span.input-group-btn
            %button.btn-u.btn-u-lg{:type => "button"}
              %i.fa.fa-search
    .col-md-6.col-md-offset-3.margin-top-50
      %a#create_new_account.btn-u.btn-u-lg.text-center{href: new_registration_path(User)} Create new account
