.parallax-counter-v2
  .container
    %ul.row.list-row
      %li.col-md-3.col-sm-6.col-xs-12.md-margin-bottom-30
        .counters.rounded
          %span.counter 18298
          %h4 Online Streams
      %li.col-md-3.col-sm-6.col-xs-12.md-margin-bottom-30
        .counters.rounded
          %span.counter 24583
          %h4 Online Users
      %li.col-md-3.col-sm-6.col-xs-12.sm-margin-bottom-30
        .counters.rounded
          %span.counter 37904
          %h4 Monthly Users
      %li.col-md-3.col-sm-6.col-xs-12
        .counters.rounded
          %span.counter 50892
          %h4 Hours Streamed
