.container.content
  .row
    .col-md-4
      .title-box
        .title-box-text
          Coding
          %span.color-green Sessions
        %p
          Thousands of hours of live and recorded coding sessions
    .col-md-4
      .title-box
        .title-box-text
          Knowledge
          %span.color-green Sharing
        %p
          Nothing beats being able to watch live coding sessions and be able to interact with the coder in real time
    .col-md-4
      .title-box
        .title-box-text
          Tech
          %span.color-green Events
        %p
          Watch live conferences and tech events, right here in your browser
