#home-search
  = render partial: 'home/search'
#home-featured-channels
  = render partial: 'home/featured_channels'
#home-top-categories
  = render partial: 'home/top_categories'
#home-featured-streamers
  = render partial: 'home/featured_streamers'
#home-stats
  -#= render partial: 'home/stats'
