.row
  .col-md-8
    - if channel.online?
      %h1.title= channel.title
    - else
      %h1.title Channel Offline
  .col-md-4#channel-stats
    .row#coding-in
      .col-md-12
        .h5
          Coding in
          %span.label.label-default= channel.category.name
    .row
      .col-md-12
        = render partial: 'shared/channel_stats', locals: {total_viewers: channel.total_viewers, current_viewers: (channel.online? ? current_viewers : '0'), likes: channel.likes, vod_count: current_user.recordings.count}
