.col-md-8
  %h1.title= channel.title
.col-md-4#channel-stats
  = render partial: 'shared/channel_stats', locals: {total_viewers: channel.total_viewers, current_viewers: channel.current_viewers, likes: channel.likes}
