.row
  .col-md-8
    %h1.title= channel.title
  .col-md-4#channel-stats
    - if channel.category
      .row#coding-in
        .col-md-12
          .h5
            Coding in
            %span.label.label-default= channel.category.name
    - else
      .row#coding-in
        .col-md-12
          .h5
            No category selected

    .row
      .col-md-12
        = render partial: 'shared/channel_stats', locals: {total_viewers: channel.total_viewers, current_viewers: (channel.online? ? channel.current_viewers : '0'), likes: channel.likes, vod_count: channel.user.recordings.where(visible: 1).count}
