.container.content
  .row
    .col-md-8.col-md-offset-2
      .error-v1
        %span.error-v1-title.margin-bottom-50 Oh noes!
        %span.margin-bottom-50
          We coulds not findz it, we trieds it
          %br
          gollum, gollum...
        = link_to 'Explore our categories', categories_path, class: 'btn-u btn-bordered'
