// Variables
$cw-blue: #071822;
$white: #fff;
$color_black_haze_approx: #f7f7f7;
$color_mid_gray_approx: #585f69;
$color_tapa_approx: #777;
$color_fuscous_gray_approx: #555;
$color_gallery_approx: #eee;
$color_mountain_mist_approx: #999;
$color_lima_approx: #72c02c;
$color_curious_blue_approx: #3498db;
$color_cinnabar_approx: #e74c3c;
$color_amethyst_approx: #9b6bcc;
$color_corn_approx: #f1c40f;
$color_scooter_approx: #27d7e7;
$color_pink_swan_approx: #bbb;
$black_40: rgba(0,0,0,0.4);
$color_lemon_chiffon_approx: #fffdcc;
$color_tusk_approx: #e1febc;
$color_pippin_approx: #fee0e0;
$color_pattens_blue_approx: #e0f3fe;
$color_delta_approx: #a3a3a3;
$color_dodger_blue_approx: #159ceb;
$color_san_marino_approx: #4862a3;
$color_cerulean_approx: #00aceb;
$color_valencia_approx: #dc4a38;
$color_fuzzy_wuzzy_brown_approx: #c6574b;
$color_concrete_approx: #f3f3f3;
$color_alto_approx: #ddd;
