@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "style";
@import "font-awesome";
@import "typeahead";
@import "bootstrap-social";
// Header and Footer
@import "header";
@import "footer";
// Implementing Plugins
@import "animate";
@import "line-icons";
@import "owl.carousel";
@import "sky-forms";
@import "cubeportfolio.min";
@import "jquery.mCustomScrollbar";
@import "brand-buttons";
@import "brand-buttons-inversed";
// Specific pages
@import "categories";
@import "chat";
@import "search";
@import "page_search";
@import "channel";
@import "vod";
@import "external_channel";
@import "login";
@import "home";
@import "events";
@import "help";
@import "dashboard";
@import "private-session";
@import "ie8";
@import "blocks";
@import "app";
@import "custom-sky-forms";
@import "custom-cubeportfolio";
@import "custom";

#alerts-wrapper {
  position: fixed;
  z-index: 999;
  top: 15px;
  right: 15px;
  .alert {
    width: 100%;
    text-align: center;
    padding: 25px 40px;
    margin-bottom: 15px;
  }
}
