@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "categories";
@import "chat";

#dashboard {
  #tabs-panel {
    margin-top: 75px;
  }
  .tab-content {
    margin-top: 25px;

    .h3 {
      margin-bottom: 45px;
      padding-left: 25px;
    }
  }
}
