-#- @categories.each_slice(6).to_a.each do |category_slice|
-#  .row
-#    - category_slice.each do |category|
-#      .col-md-2
-#        .language-thumbnail
-#          %a{href: category_channels_path(URI::encode(category.name.gsub("/", "%2f"))), class: 'thumbnail'}
-#            = image_tag "https://codewatch-tv.s3-eu-west-1.amazonaws.com/language-thumbnails/#{category.dehumanize}.png"
-#            .caption
-#              .lead= category.name
-#              .text-right
-#                %p
-#                  .fa.fa-user
-#                  = "#{category.viewers}"

.container.content
  .headline
    %h2 Categories
.cube-portfolio.margin-bottom-20
  .content-xs
    #filters-container.cbp-l-filters-text.content-xs
      .cbp-filter-item-active.cbp-filter-item{"data-filter" => "*"} All
      |
      .cbp-filter-item{"data-filter" => ".identity"} Identity
      |
      .cbp-filter-item{"data-filter" => ".web-design"} Web Design
      |
      .cbp-filter-item{"data-filter" => ".graphic"} Graphic
      |
      .cbp-filter-item{"data-filter" => ".logos"} Logo
  #grid-container.cbp-l-grid-fullWidth
    - @categories.each do |category|
      = render partial: 'categories/language_thumbnail', locals: {classes: 'col-md-3 col-sm-4', category: category}
