= render partial: 'shared/breadcrumbs', locals: {page_name: 'Categories'}
.cube-portfolio.margin-bottom-50
  .content-xs
    #filters-container.cbp-l-filters-text.content-xs
      .cbp-filter-item-active.cbp-filter-item{"data-filter" => "*"} All
      |
      .cbp-filter-item{"data-filter" => ".letter-non-alphanumeric"} #
      - ('a'..'z').to_a.each do |letter|
        |
        .cbp-filter-item{"data-filter" => ".letter-#{letter}"}= letter.upcase
  #grid-container.cbp-l-grid-fullWidth
    - @categories.each do |category|
      = render partial: 'categories/language_thumbnail', locals: {classes: 'col-md-3 col-sm-4', category: category}
