- @categories.each_slice(@categories.size / 5).to_a.each do |category_slice|
  .row
    - category_slice.each do |category|
      .col-md-2
        .category
          %a{href: "/categories/#{URI::encode(category.name.gsub("/", "%2f"))}"}
            = category.name
