.channel-list
  = render partial: 'shared/breadcrumbs', locals: {page_name: "#{category.name} streams"}
  - if channels.empty?
    .container.content
      .row
        .col-md-8.col-md-offset-2
          .error-v1
            %span.error-v1-title.margin-bottom-50 :'(
            %span.margin-bottom-50 There are currently no streams in this category
            = link_to 'Explore other categories', categories_path, class: 'btn-u btn-bordered'
  - else
    .cube-portfolio.margin-bottom-50
      .content-xs
      #grid-channel-container.cbp-l-grid-fullWidth
        - channels.each do |channel|
          = render partial: 'shared/stream_thumbnail', locals: {channel: channel}
